<!-- <p id="notice"><%= notice %></p> -->



<div class="service-sec bg-content">
          <div class="container"> 
             <h3 style="text-align:center; color:#F25C27;">Smart Materials and Sensory Devices</h3>
            <p class="ser">Smart Materials, a significant solution for the 21st century’s technological needs, are materials that are capable of sensing and actively responding to the environment by changing their physical properties, such as shape, size and colour. There are many groups of smart materials, each exhibiting particular properties which can be harnessed in a variety of high-tech and everyday applications. <br>
The workshop “Smart Materials and Sensory Devices” facilitates to share current research experiences of eminent scientists with budding engineers in grounds of Shape Memory Alloys, Micro Electro Mechanical Systems, Piezoelectric materials and Magnetic nano fluid sensors. We take pride in inviting you to the one-day extravaganza.</p>
            <div class="service-grids">
              <div class="col-md-3 service-grid workshop-grid wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">           
                  <a href="#"><img src="/krysta15/images/w2.jpg" alt=""></a>
                  <h4>Shape Memory Alloys</h4>
                  <p class="sg">The SME describes the process of a material changing shape or remembering a particular shape at a specific temperature (i.e. its transformation or memory temperature).At the memory temperature the alloy undergoes a solid state phase transformation. Within few years, SMAs will be used as artificial muscles, i.e. simulating the expansion and contraction of human muscles. This process will utilise a piece of SMA wire in place of a muscle on the finger of a robotic hand.</p>
             </div>

             <div class="col-md-3 service-grid workshop-grid wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">           
                  <a href="#"><img src="/krysta15/images/w3.jpg" alt=""></a>
                  <h4>Micro Electric Mechanical Systems</h4>
                  <p class="sg">Micro-Electro-Mechanical Systems, or MEMS, is a technology that can be defined as miniaturized mechanical and electro-mechanical elements (i.e., devices and structures) that are made using the techniques of micro-fabrication. The critical physical dimensions of MEMS devices can vary from well below one micron on the lower end of the dimensional spectrum, all the way to several millimetres.</p>
             </div>
             <div class="col-md-3 service-grid  workshop-grid wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">           
                  <a href="#"><img src="/krysta15/images/w4.jpg" alt=""></a>
                  <h4>Piezoelectric Materials</h4>
                  <p class="sg">The piezoelectric effect and electrostriction are opposite phenomena and both relate a shape change with voltage. If a voltage is applied to the non-polarized material a shape change occurs as the molecules reorganize to align in the electrical field. This is known as electrostriction. Conversely, an electrical field is generated if a mechanical force is applied to the material to change its shape. This is the piezoelectric effect. Piezoelectric ceramic today is lead zirconium titanate (PZT).</p>
             </div>

             <div class="col-md-3 service-grid  workshop-grid wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">           
                  <a href="#"><img src="/krysta15/images/w5.png" alt=""></a>
                  <h4>Piezoelectric Materials</h4>
                  <p class="sg">Technological applications of nano materials and nano fluids are numerous. Among nano fluids, magnetic nano fluid popularly known as Ferro-fluid is a unique material that has both the liquid and magnetic properties, and finds several applications. Internal defects in materials can be imaged with a sensor using a magnetically polarisable nano emulsion.</p>
             </div>



           </div>
           
         </div>
        </div>
        <div class="news-letter wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
        <div class="container">
          <div class="news-letter-grid">
            <div class="news-letter-grid-left">
              <h3><b>4 in 1 </b> Workshop (<i>Rs.500/head</i>)</h3>
              <p> (<i>Limited no. of seats!</i>) Click on the register button, to register Smart Materials workshop. </p>
            </div>
            <div class="news-letter-grid-right">
                  <div class="welcome-note-right-right">
                    <%= link_to 'Register', new_workshop_path, style: "color:#F25C27" %>
                  </div>
                
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>



