<div class="container">
			<div class="welcome-note">
					<div class="welcome-note-grids">
						<div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
							<div class="welcome-note-left text-right">
								<h2>Welcome</h2>
								<span>To Our Workshop</span>
							</div>
						</div> 
						<div class="col-md-8 welcome-grid">
							<div class="welcome-note-right ">
								<div class="col-md-12">
									<div class="welcome-note-right-left">
										<h3><b style="    letter-spacing: 0px;">Smart Materials and Sensory Device Workshop Registration! </b></h3>
										<p>Please fill all the fields to register the workshop!. Our Event organiser will always available to clarify your doubts!</p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div> 
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>

<div class="container">
<div class="contact-us">
	<div class="contact-us_left">
		 <div class="company_address">
	     	<h3 class="style">Online Registration <sup>*</sup></h3>
	     	<p>Registration is open. Only limited seats are available. Hurry up!! </p>
			<%= link_to 'Click Here for Online Registration', 'http://smartmaterials.doattend.com/', class: 'btn btn-1' %>
			<br>
			<small>* Includes Transaction & Booking fee</small>
	   </div>
	</div>
<%= render 'form' %>
</div>	
</div>
</div>



