<!-- top-grids -->
			<div class="container">
			<div class="welcome-note">
					<div class="welcome-note-grids">
						<div class="col-md-4 wow fadeInLeft" data-wow-delay="0.4s">
							<div class="welcome-note-left text-right">
								<h2>Welcome</h2>
								<span>To Our Krysta'15</span>
							</div>
						</div> 
						<div class="col-md-8 welcome-grid">
							<div class="welcome-note-right ">
								<div class="col-md-8">
									<div class="welcome-note-right-left">
										<h3>Krysta, an intra-collegiate symposium… is going to be one of the most exciting and exclusive symposium in terms of events and workshop this year.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="welcome-note-right-right">
										<%= link_to 'Events', events_path, style: "background: #fe5433" %>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div> 
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
			<!-- top-grids -->
			